In [13]:
import pandas as pd

In [14]:
questions=pd.read_csv('questions.csv',sep='\t',index_col=0)

In [15]:
questions=questions.T
questions

question                                    Idquest  parent  type  Treatment
UNIQUE ID                                       NaN     NaN   NaN        NaN
start                                           NaN     NaN   NaN        NaN
end                                             NaN     NaN   NaN        NaN
today                                           NaN     NaN   NaN        NaN
deviceid                                        NaN     NaN   NaN        NaN
...                                             ...     ...   ...        ...
A1) Name of respondent_cleanAF                  NaN     NaN   NaN        NaN
Village/ Community_cleanAD                      NaN     NaN   NaN        NaN
enumerator time difference(absolute value)      NaN     NaN   NaN        NaN
Interview Status                                NaN     NaN   NaN        NaN
Miner's profile                                 NaN     NaN   NaN        NaN

[344 rows x 4 columns]

In [16]:
questions.Idquest=questions.Idquest.astype('string')
questions.type=questions.type.astype('string')
questions.Treatment=questions.Treatment.astype('string')
questions.Idquest

UNIQUE ID                                     <NA>
start                                         <NA>
end                                           <NA>
today                                         <NA>
deviceid                                      <NA>
                                              ...
A1) Name of respondent_cleanAF                <NA>
Village/ Community_cleanAD                    <NA>
enumerator time difference(absolute value)    <NA>
Interview Status                              <NA>
Miner's profile                               <NA>
Name: Idquest, Length: 344, dtype: string

In [17]:
questions.index

Index(['UNIQUE ID', 'start', 'end', 'today', 'deviceid', 'phonenumber',
       'audit', 'audit_URL', 'Are you conducting a Test or a Valid entry?',
       'Survey Start Date',
       ...
       '_status', '_submitted_by', '_tags', '_index', 'Enumerator',
       'A1) Name of respondent_cleanAF', 'Village/ Community_cleanAD',
       'enumerator time difference(absolute value)', 'Interview Status',
       'Miner's profile'],
      dtype='object', length=344)

In [25]:
kobo=pd.read_csv('kobo_file.csv',sep='\t')
kobo

,type,name,label,required,relevant,choice_filter,hint,appearance,constraint,constraint_message,calculation,read_only,parameters
0,start,start,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,end,end,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,today,today,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,deviceid,deviceid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,phonenumber,phonenumber,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,date,date2,Survey end date,1.0,NaN,NaN,Kindly check that that your device time is cor...,NaN,.=today(),Only current date allowed!!,NaN,NaN,NaN
322,calculate,time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(decimal-time(${time2}) - decimal-time(${time1...,NaN,NaN
323,calculate,endtime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,now(),NaN,NaN
324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
325,note,thanksnote,Thank you for participating in this survey; Yo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
[i for i in kobo.label if i==i and "\\" in i]

[]

In [22]:
[i for i in kobo.type.fillna('').unique() if 'select' not in i]

['start',
 'end',
 'today',
 'deviceid',
 'phonenumber',
 'audit',
 'date',
 'time',
 'calculate',
 'begin_group',
 'note',
 'end_group',
 'text',
 'geopoint',
 'integer',
 'decimal',
 '']

In [23]:
'A24) Why did you settle in this location?/Availability'.split('/')

['A24) Why did you settle in this location?', 'Availability']

In [30]:
for i in range(len(kobo)):
    if kobo.loc[i]['label']==kobo.loc[i]['label']:
        for quest in questions.index:
            if kobo.loc[i]['label']==quest:
                questions.at[quest,'Idquest']=kobo.loc[i]['name']
                current=quest
                if kobo.loc[i]['type']=='decimal':
                    questions.at[quest,'type']='continue'
            elif kobo.loc[i]['label'] in quest and quest[2] not in '123456789':
                questions.at[quest,'Idquest']=current+' '+quest
                questions.at[quest,'Treatment']='cat'

In [31]:
questions.T.to_csv('questions_auto.csv',sep='\t')

In [32]:
questions[questions.Idquest==questions.Idquest]

question,Idquest,parent,type,Treatment
Are you conducting a Test or a Valid entry?,testvalid,NaN,<NA>,<NA>
Survey Start Date,date1,NaN,<NA>,<NA>
Survey Start Time,time1,NaN,<NA>,<NA>
"Your participation is fully intended, and even if you agree to take part, you are still free to take out before, during or after the interview. In addition, should you not wish to answer any particular question or questions, you are free to refuse. All answers are strictly private, and you will remain unknown. With your agreement, we may audio record the interview and quote some of what you say in our report, but we will do so in a way that ensures that it cannot be ascribed to you. Your name will not be linked with the research findings and will not be personal in the report that results from the research except in an Annex at the end of the final report that lists all the informants who have contributed to the mid-term evaluation. Axiom ME will keep your information and will integrate you in others database of respondents which can be contacted during our verification (quality assurance) or for other surveys, until you express otherwise by contacting our team by phone or by email if It should be noted that, will not share your information beyond but some of our team members can contact you to verify the occurrence of interview and our researchers could recontact you to build further on your opinion.",note,NaN,<NA>,<NA>
Are you willing to answer to and available for an interview?,Consent,NaN,<NA>,<NA>
...,...,...,...,...
Survey end time,time2,NaN,<NA>,<NA>
Survey end date,date2,NaN,<NA>,<NA>
Thank you for participating in this survey; Your feedback is highly appreciated,thanksnote,NaN,<NA>,<NA>
A1) Name of respondent_cleanAF,A1) Name of respondent A1) Name of respondent_...,NaN,<NA>,cat
Village/ Community_cleanAD,Village/ Community Village/ Community_cleanAD,NaN,<NA>,cat